* {
    margin: 0;
    padding: 0;

    transition-duration: .5s;

    color: white;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

html {
    background-color: black;
}
p {
    font-size: 20px;
}
ul {
    display: grid;

    list-style: none;
    list-style-type: none;

    gap: 10px;

    height: 100%;
    width: 100%;

    grid-template-columns: repeat(4, 1fr);

    justify-content: start;
}

#main_page {
    margin-left: 25vw;

    display: flex;
    flex-direction: column;

    gap: 5%;

    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 50vw;

    border-left: 2px solid white;
    border-right: 2px solid white;
}

#screen {
    position: relative;
    height: 100px;
    width: 90%;
}


#buttons {
    position: relative;
    width: 90%;
    height: 75%;
}

input[type="button"] {
    position: relative;

    height: 100%;
    width: 100%;
    font-size: calc(1.5vw);
    

    border-radius: 0;
    border: 0;

    background-color: rgb(50, 54, 59);

    cursor: pointer;
    text-align: center;
}

input[type="button"]:hover, #big-bttn:hover {
    filter: brightness(2);
}

#sign-bttn {
    background-color: rgb(67, 70, 82);
}
#exec-bttn {
    background-color: rgb(60, 71, 115);
}